build_logfile/
custom/*-local*
root/boot/*
tufsbox/
config*
Makefile.local
*~
/apps/tools/exteplayer3/eplayer3
/apps/tools/exteplayer3-sh4/eplayer3
/apps/tools/exteplayer3-sh4/exteplayer3
/apps/tools/exteplayer3/exteplayer3
/apps/tools/eplayer4/eplayer4
